# Python environments
.venv/
env/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE/editor
.vscode/
.idea/

# Build and dist
*.egg-info/
dist/
build/
